:root {
  font: 24px / 1 sans-serif;
  text-shadow: 2px 2px 5px red;
  color: white;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('https://wallpaperaccess.com/full/522692.png');
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  text-decoration: none;
  color: inherit;
}

section {
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100%;
  padding: 0px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

img {
  width: 35rem;
  height: 25rem;
}

a {
  text-decoration: none;
  color: inherit;
}
